// Browser Sizes
$full-width: 100%;
$tablet-width: 48em;
$desktop-width: 60em;

// Column Counts
$phone-size: 4;
$tablet-size: 12;
$desktop-size: 24;

// Color Definitions
$backcolor:#FFF;
$primarycolor:#dd0330;
$darkfont:#7a868c;
$lightfont:#FFF;

// Font Sizes
$fontbaseline: 16px;
$smallfont: 1em;
$mediumfont: 1.125em;
$mediumlgfont: 1.2em;
$largefont: 1.375em;

$buttonfont: 1.45em;
$h1size: 2.45em;
$blockquotesize: 1.8em;