$susy: (
	gutter: 100%/18,
	gutter-position: after,
	debug: (
	    image: show,
	    color: rgba(23,86,140, 0.2),
	    output: background,
	    toggle: top right,
  	),
);

$phone: layout(auto 4);
$tablet: layout(45em 8);
$desktop: layout(60em 16);

*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	font-size: $fontbaseline;
}


header, footer {
	@include container;
	@include susy-breakpoint(45em, 8) {
		@include container;
		& > *:first-child {
			@include prefix(1);
		}
		& > *:last-child {
			@include suffix(1);
		}
	}
	@include susy-breakpoint(60em, 16) {
		@include container;
		& > *:first-child {
			@include prefix(3);
		}
		& > *:last-child {
			@include suffix(3);
		}
		h1 {
			@include span(2+3 of 16);
		}
		nav {
			@include span(8+3 of 16 last);
		}
	}
}
main {
	@include container;
	& > * {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	@include susy-breakpoint(45em, 8) {
		@include container;
		& > * {
			@include pad(1);
		}
	}
	@include susy-breakpoint(60em, 16) {
		@include container;
		& > * {
			@include pad(3);
		}
	}
}